@keyframes eIoPr46y {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100px);
  }
}
.emoji {
  animation: eIoPr46y 1.5s infinite;
}
body {
  display: grid;
  place-items: center;
}
pre {
  background-color: #232323;
  color: #f4f4f4;
  padding: 0.2rem;
  border-radius: 0.25rem;
}
